

@media (max-width: 992px) {
   .sidebar-nav {
    position: relative;
    margin-top: 30px;
   }
   #sidebarClose {
    position: absolute;
    right: 0;
    border: none;
    background: red;
    color: #ffffff;
   }
}
